@import "variables";

body {
    margin: 0;
    background-color: white;
    font-family: $open-sans;
}

.turnt-header {
    @include turnt-header;
}

.h1-span {
    color: $turquoise;
    font-weight: $bold;
}

.accordion-h1-container {
    display: flex;
    align-items: center;
    margin: 40px;

    .accordion-h1 {
        color: $darker-purpz;
        padding: 10px 0;
        font-size: 30px;
        font-weight: $light;
        font-size: 30px;
    }

    .accordion-hr {
        width: 100%;
    }
}

.yung-accordion-container {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;

    .content {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid $turquoise;

        .p-tag {
            margin: 0 0 20px;
            line-height: 1.5;
        }
    }

    input {
        display: none;
    }

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
    }

    label:hover {
        color: $turquoise;
        cursor: pointer;
    }

    input:checked + label {
        color: $darker-purpz;
        border: 1px solid $turquoise;
        border-top: 2px solid $turquoise;
        border-bottom: 1px solid white;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5 {
        display: block;
    }
}

.card-article {
    width: 100%;
    position: relative;
    margin: 80px 0 0 0;
    padding: 0 0 50px 0;
    min-height: 600px;

    .flexy-grid {
        margin: 50px 0 0 0;
        padding: 0 0 50px 0;
        min-height: 600px;

        .flex-cards {
            margin: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .grow {
            min-width: 65%;
        }

        .card {
            margin: 0 0 20px 0;
            border: 1px solid grey;
            padding: 5px;
            max-width: 33%;

            h3 {
                padding: 0 10px;
            }
        }

        .img {
            display: block;
            height: 250px;
            width: 100%;
        }
    }
}







