@import "variables";

body {
    margin: 0;
    background-color: white;
    font-family: $open-sans;
}

.turnt-header {
    @include turnt-header;
}

.h1-span {
    color: $turquoise;
    font-weight: $bold;
}

.accordion-h1-container {
    display: flex;
    align-items: center;
    margin: 40px;

    .accordion-h1 {
        color: $darker-purpz;
        padding: 10px 0;
        font-size: 30px;
        font-weight: $light;
        font-size: 30px;
    }

    .accordion-hr {
        width: 100%;
    }
}

.yung-accordion-container {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;

    .content {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid $turquoise;

        .p-tag {
            margin: 0 0 20px;
            line-height: 1.5;
        }
    }

    input {
        display: none;
    }

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
    }

    label:hover {
        color: $turquoise;
        cursor: pointer;
    }

    input:checked + label {
        color: $darker-purpz;
        border: 1px solid $turquoise;
        border-top: 2px solid $turquoise;
        border-bottom: 1px solid white;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5 {
        display: block;
    }
}

.grid-of-cards {
  display: grid;
  grid-template-columns: 33% 15px 33% 15px 33%;
  grid-template-rows: auto 15px auto 15px auto;
  width: 80%;
  margin: 0 auto;
}

.card {
  border: 1px solid $turquoise;
  .card-header {
    padding: 20px;
    color: $darker-purpz;
    border-bottom: 1px solid $turquoise;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
  }
}

.pic-div {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  overflow: hidden;
  width: 100%;
}

.pic {
  width: 100%;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.two {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.four {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.five {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.six {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.seven {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}




