
$purpz: #3F3244;
$darker-purpz: #2F2235;
$almost-white: #F2F2F2;
$light-gray: #D1D2D3;
$dark-gray: #666666;
$blackish: #000000;
$turquoise: #34D1D1;

$open-sans: 'Open sans';
$bold: 600;
$light: 300;



